[Unit]
Description=Yoctopuce VirtualHub
After=network.target

[Service]
EnvironmentFile=/etc/docker.env
Type=simple
ExecStart=/usr/sbin/VirtualHub
Restart=always

[Install]
WantedBy=multi-user.target
