[Unit]
Description=Yoctopuce VirtualHub

[Service]
EnvironmentFile=/etc/docker.env
Type=simple
ExecStart=/usr/sbin/VirtualHub -c /etc/vhub.byn
Restart=always

[Install]
WantedBy=multi-user.target
